.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  width: var(--main-width);
  margin: auto;
  text-align: center;
}

.fullscreen {
  height: var(--full-screen-height);
}

/* Заголовок */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--header-gap);
  width: 100%;
}

.header__img {
  border-radius: 50%;
  box-shadow: 0 0 50px var(--main-color);
  transition: box-shadow 0.5s ease-in-out;
}

.header__img:hover {
  box-shadow: none;
}

.title {
  font-family: var(--font-accent);
  font-size: 18px;
}

.header__text {
  font-size: 18px;
}

.undertoned {
  color: var(--secondary-color);
  font-size: 12px;
}

/* Основная секция */

.main {
  gap: var(--main-gap);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--section-gap);
}

.section:not(:last-child) {
  margin-bottom: var(--main-gap);
}

.section__header {
  font-family: var(--font-accent);
}

/* Иконки */

.icons-link {
  display: flex;
  gap: var(--section-gap);
}

.icon {
  transition: scale 1s ease;
}

.icon:hover {
  scale: 1.25;
}

/* Стики оверлей */

.overlay {
  position: sticky;
  top: 0;
}

.overlay::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100vmin;
  height: 100%;
  background-color: var(--bg-color);
}

/* Список */

.project-list {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.project {
  border: 2px solid var(--secondary-color);
  padding: var(--project-padding);
  background-color: var(--project-bg-color);
  transition: scale 0.25s ease;
}

.project:hover {
  scale: 1.1;
}

.project-link {
  font-size: 24px;
  font-weight: 800;
  transition: text-shadow 0.5s ease-in-out;
}

.project-link:hover {
  text-shadow: 0 0 10px var(--secondary-color);
}

/* Подвал */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--main-gap);
}

.footer .undertoned {
  transition: font-size 1s ease-in-out;
}

.footer .undertoned:hover {
  font-size: 18px;
}

/* Контакты */

.contact-link img {
  height: var(--contact-icon-size);
  transition: filter 1s ease;
}

.contact-link:hover img {
  filter: drop-shadow(0 0 10px var(--main-color));
}
