.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-color);
  font-family: var(--font-primary);
  background-color: var(--bg-color);
  width: var(--main-width);
  margin: auto;
}

/* Заголовок */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--header-gap);
  height: var(--full-screen-height);
  width: 100%;
}

.header__img {
  border-radius: 50%;
  box-shadow: 0 0 50px var(--main-color);
  transition: box-shadow 0.5s;
}

.header__img:hover {
  box-shadow: none;
}

.header__title {
  font-family: var(--font-accent);
  font-size: 18px;
}

.header__text {
  text-align: center;
  font-size: 18px;
}

.undertoned {
  color: var(--secondary-color);
  font-size: 12px;
}

/* Основная секция */

.main {
  gap: var(--main-gap);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--section-gap);
  height: var(--full-screen-height);
}

.section:not(:last-child) {
  margin-bottom: var(--main-gap);
}

.section__header {
  font-family: var(--font-accent);
}

/* Иконки */

.icons-link {
  display: flex;
  gap: var(--section-gap);
}

.icon {
  transition: scale 1s ease;
}

.icon:hover {
  scale: 1.25;
}

/* Стики оверлей */

.overlay {
  position: sticky;
  top: 0;
}

.overlay::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
}
