.page {
  color: var(--main-color);
  background-color: var(--bg-color);
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Заголовок */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--header-gap);
  height: var(--full-screen-height);
  text-align: center;
}

.header__img {
  border-radius: 50%;
  box-shadow: 0 0 50px var(--main-color);
  transition: box-shadow 0.5s;
}

.header__img:hover {
  box-shadow: none;
}

.header__title {
  font-family: var(--font-accent);
  font-size: 18px;
}

.header__text {
  font-size: 18px;
}

.undertoned {
  color: var(--secondary-color);
  font-size: 12px;
}

/* Основная секция */

.main {
  width: var(--main-width);
  gap: var(--main-gap);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--section-gap);
  height: var(--full-screen-height);
}

.section:not(:last-child) {
  margin-bottom: var(--main-gap);
}

.section__header {
  font-family: var(--font-accent);
}
