:root {
  --font-primary: "Inter-Variable";
  --font-accent: "PressStart2P";

  --main-color: #bcc5d4;
  --secondary-color: #7a8291;
  --bg-color: #000;
  --shadow-color: #8b97ad;
  --project-bg-color: #404755;

  --full-screen-height: 100vh;

  --header-gap: 10px;

  --main-width: clamp(400px, 60%, 700px);
  --main-gap: 20px;
  
  --section-gap: 10px;

  --project-padding: 10px;
}
